<mat-toolbar color="primary" class="header">
  <div>MiAS</div>
  <span class="spacer"></span>
  <ng-container *ngIf="user$ | async as user; else showLogin">
    <img [matMenuTriggerFor]="menu" src="{{ user.photoURL }}" alt="" width="30px" />
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="logout()">Logout</button>
    </mat-menu>
  </ng-container>

  <ng-template #showLogin>
    <button mat-button (click)="login()">Login</button>
  </ng-template>
</mat-toolbar>

<router-outlet></router-outlet>
