<mat-toolbar class="header" color="primary">
  <div>MiAS</div>
  <span class="spacer"></span>
  <ng-container *ngIf="user$ | async as user; else showLogin">
    <img [matMenuTriggerFor]="menu" alt="" src="{{ user.photoURL }}" width="30px"/>
    <mat-menu #menu="matMenu">
      <button (click)="logout()" mat-menu-item>Logout</button>
    </mat-menu>
  </ng-container>

  <ng-template #showLogin>
    <button (click)="login()" mat-button>Login</button>
  </ng-template>
</mat-toolbar>

<router-outlet></router-outlet>
