<div class="container" fxLayout="row" fxLayoutAlign="center">
  <mat-card class="mat-elevation-z12" fxFlex="60" style="margin-top: 2rem; width: 100%">
    <h2>Theme upload (Misskey v12)</h2>
    <div>
      <mat-form-field fxFlex="100" appearance="fill">
        <mat-label>Theme code</mat-label>
        <textarea matInput [formControl]="themeFormControl" maxlength="16384" minlength="10"
                  required></textarea>
      </mat-form-field>
    </div>
    <button mat-raised-button
            color="primary"
            (click)="upload()"
            *ngIf="!progress"
            [disabled]="!themeFormControl.valid">Upload
    </button>
    <ng-template [ngIf]="progress">
      <mat-spinner [diameter]="32"></mat-spinner>
      <p>{{count > 0 ? 'Taking screenshots, please wait ' + count + 's' : 'Please wait...'}}</p>
    </ng-template>
    <mat-error *ngIf="themeFormControl.hasError('required')">Theme code is required.</mat-error>
  </mat-card>
</div>
