<div class="py-5 text-center" style="background-image: url(/assets/img/bg1.jpg);background-size:cover;">
  <div class="container">
    <div class="row">
      <div class="bg-white p-5 mx-auto col-md-8 col-10">
        <h1 style="font-size: 4vw">カスタマイズしよう</h1>
        <p class="mb-3 lead">Misskey Assets Store</p>
        <p class="mb-4">Misskeyのテーマを共有したり、お気に入りのテーマを見つけよう！</p>
        <a class="btn btn-outline-primary" routerLink="/theme/list">テーマ一覧を見る</a>
      </div>
    </div>
  </div>
</div>

<div class="py-5 text-center">
  <div class="container">
    <div class="row">
      <div class="mx-auto col-lg-10">
        <h1>どちらをご希望ですか</h1>
        <div class="row">
          <div class="col-md-6 px-5 mt-3"> <i class="d-block fa fa-stop-circle fa-4x mb-3 text-muted"></i>
            <h4>テーマを探す</h4>
            <p class="mb-3">あなたにぴったりのテーマを探しましょう<br>きっと素敵なテーマが見つかるはず</p> <a class="btn btn-outline-primary" routerLink="/theme/list">テーマを見る</a>
          </div>
          <div class="col-md-6 px-5 mt-3">
            <i class="d-block fa fa-stop-circle-o fa-4x mb-3 text-muted"></i>
            <h4>テーマを共有する</h4>
            <p class="mb-3">作ったテーマを共有して<br>他のミスキストにも使ってもらいましょう</p> <a class="btn btn-outline-primary" routerLink="/theme/add">テーマを共有する</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
